<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SpringController and Interceptor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 
  	配置springmvc的DispatcherServlet分发器,该类接管所有
  	请求,相当于Struts2的拦截器
   -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  	<!-- 
  			此处配置是将springmvc.xml放在src目录下,通过该配置
  			可以到src目录下查找springmvc.xml配置文件,这样spring+springmvc
  			可以共用一个文件
  			ContextConfigLocation注意大小写
  		-->
  		<param-name>ContextConfigLocation</param-name>
  		<!-- spring自动到src目录下查找springmvc.xml -->
  		<param-value>classpath:springmvc-ajax.xml</param-value>
  	</init-param>
  			<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  			<servlet-name>springmvc</servlet-name>
  			<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!--  设置字符编码 -->
  <filter>
  	<filter-name>charen</filter-name>
  			<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  			<param-name>encoding</param-name>
  			<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>charen</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>